@import "tailwindcss";
@plugin "daisyui" {
  themes: silk, black;
}

.markdown-body ul {
  list-style-type: disc;
  margin-left: 1.5rem;
}

.markdown-body ol {
  list-style-type: decimal;
  margin-left: 1.5rem;
}
